.lg {
  width: 300px;
  height: 250px;
  background-color: rgb(82, 76, 87);
  text-align: center;
  top: 40%;
  left: 40%;
  position: absolute;
  padding: 10px;
}
h1 {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}

.lg input[type="text"],
.lg input[type="password"] {
  color: aliceblue;
  border: none;
  margin: 20px auto;

  background: none;
  border-radius: 25px;
  display: block;
  text-align: center;
  border-width: 25px;
  border: 2px solid #3498db;
  padding: 10px;
  transition: 0.25s;
  /* transition-timing-function: ease; */
}

.lg input[type="submit"] {
  background: none;
  color: aliceblue;
  padding: 10px;
  font-size: 1em;
  border-color: #2ecc71;
  border-radius: 25px;
  outline: none;
  transition: 0.25s;
  /* transition-timing-function: ease; */
}

.lg input[type="text"]:hover,
.lg input[type="password"]:hover {
  width: 250px;
  border-color: greenyellow;
}

.lg input[type="submit"]:hover {
  width: 100px;
  cursor: pointer;
  background: #2ecc71;
}
